@import "fonts.css";

* { margin: 0; padding: 0; box-sizing: border-box; }
html, button { font-family: 'TTNorms', sans-serif; }
.wrapper { max-width: 100%; margin: auto; background: #FFFFFF; }
img, svg { max-width: 100%; display: block; }
li { list-style: none; }
p, input { font-family: "TTNorms-Medium", sans-serif; }
a { text-decoration: none; color: inherit; margin-bottom: 2px; }
button {
    transition: .5s;
}

.container {
    max-width: 1300px;
    margin: auto;
}


input:focus, select:focus { outline: none; }
li { white-space: nowrap; }


.intro_name {
    font-family: "Roboto-Medium", sans-serif;
    font-size: 24px;
    margin: 36px 0 17px 122px;
}

.intro_osn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro_desc {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 122px;
}

.intro_desc h1 {
    margin-bottom: 17px;
    font-size: 56px;
    width: 80%;
}

.intro_desc p {
    margin-bottom: 40px;
    color: #728196;
    width: 65%;
}

.intro_pay {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.intro_button_free {
    border-radius: 100px;
    text-align: center;
    border: green solid 3px;
    background: green;
    color: #FFF;
    padding: 17px 25px;
    font-size: 20px;
    margin-right: 10px;
}

.intro_button_free:hover {
    border: #014b01 solid 3px;
    background: #014b01;
}

.intro_button_pay {
    border-radius: 100px;
    text-align: center;
    border: #000000 solid 3px;
    background: #FFFFFF;
    color: #000000;
    padding: 17px 25px;
    font-size: 20px;
    margin-left: 10px;
}

.intro_button_pay:hover {
    background: #000000;
    color: #FFFFFF;
    transition: .5s;
}

.intro_img img {
    margin-left: 80px;
}

.intro_inf2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why_us_block {
    width: 100%;
}

.why_us {
    margin: 120px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why_us_el {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;

}

.why_us h1 {
    font-size: 48px;
    margin-bottom: 24px;
}

.why_us p {
    color: #728196;
    font-size: 20px;
    margin-bottom: 60px;
}

.why_us_el1, .why_us_el2, .why_us_el3 {
    display: flex;
    align-items: center;
}

.why_us_img {
    width: 80px;
    height: 80px;
    background: #EAF5EB;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.index_reviews_block {
    margin-top: 120px;
    width: 100%;
}

.index_reviews {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.index_review_desc {
    width: 30%;

}


.index_reviews_osn {
    width: 50%;
    display: flex;
    align-items: flex-start;
    font-size: 24px;
}

.index_reviews_osn img {
    margin-right: 20px;
}

.index_reviews_osn h3 {
    margin-bottom: 17px;
}

.index_reviews_osn p {
    font-size: 20px;
}

.index_reviews_osn h5 {
    margin-top: 17px;
}

.index_buy_block {
    margin-top: 120px;
    width: 100%;
    margin-bottom: 120px;
}


.index_buy {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index_buy_form {
    background: #EAF5EB;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    border-radius: 50px;
}

.index_buy_form h1 {
    margin-bottom: 10px;
}


.index_buy_form p {
    margin-bottom: 34px;
    color: #728196;
}

.reg_win {
    width: 100%;
    height: 100vh;
    background-image: url("../img/reg_bn.png");
    /*background: #728196;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg_form {
    width: 25%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1.4px solid #DFE0EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 63px 0;
}

.reg_form img {
    width: 250px;
    margin-bottom: 23px;
}

.reg_form_inf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg_form_inf p {
    margin-bottom: 7px;
    font-size: 22px;
}

.reg_form_osn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.reg_form input {
    padding: 12px 17px;
    margin-top: 17px;
    width: 250px;
    font-size: 15px;
    border: #C2C8D0 solid 1px;
    border-radius: 5px;
}

.send_reg {
    text-align: center;
    width: 250px;
    border-radius: 5px;
    border: green solid 3px;
    background: green;
    color: #FFF;
    padding: 7px 17px;
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 11px;
    font-family: "TTNorms-Medium", sans-serif;
}

.send_reg:hover {
    border: #014b01 solid 3px;
    background: #014b01;
}

#vue-wrapper {
    width: 100%;
}

.block {
    width: 100% ;
}

.pers_acc_courses_page {
    width: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
}

.pers_acc_inf {
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    border-right: #EBEBEB    solid 1px;
}

.pers_acc_logo {
    width: 200px;
    margin-bottom: 50px;
}

.pers_acc_inf li {
    /*font-family: "TTNorms-Medium", sans-serif;*/
    margin-bottom: 10px;
    color: #C7C7C7;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pers_acc_inf li img {
    width: 30px;
}

.pers_acc_courses {
    width: 80%;
    padding: 50px 0;
}

.pers_acc_name {
    display: flex;
    justify-content: space-between;
}

.pers_acc_name img {
    width: 35px;
    margin-left: 30px;
}

.pers_acc_data {
    display: flex;
    align-items: center;
    font-size: 22px;
}


.pers_acc_courses_osn {
    margin-top: 70px;
    display: flex;
}

.pers_acc_courses_osn_el {
    flex-direction: column;
    border-radius: 8px;
    border: #DFE0EB solid 2px;
    margin-right: 30px;
    padding: 20px 130px 20px 30px;
    color: #9FA2B4;
}

.pers_acc_courses_osn_el h2 {
    color: #000000;
    margin: 15px 0;
    font-size: 40px;
}
.pers_acc_courses_osn_el button {
    font-family: "TTNorms-Medium", sans-serif;
    color: #FFFFFF;
    border-radius: 90px;
    border: none;
    background: green;
    padding: 8px 20px;
}

.courses_el {
    display: flex;
}

.courses_el_osn_task {
    padding: 50px 0;
    width: 800px;
}

.courses_el_osn_task video {
    width: 800px;
    margin-bottom: 30px;

}

.courses_el_osn_task p {
    color: #9FA2B4;
    margin-top: 20px;
}

.next_question {
    margin-top: 20px;
    padding: 10px 15px;
    background: #079911;
    border: none;
    color: #FFFFFF;
    border-radius: 90px;
    font-size: 18px;
    font-family: "TTNorms-Medium", sans-serif;
}

.courses_el_nav {
    margin-top: 50px;
    margin-left: 30px;
    border-radius: 10px;
    border: solid 2px #DFE0EB;
    padding: 20px 32px;
}

.courses_el_nav h2 {
    color: #9FA2B4;
    margin-bottom: 20px;
}

.courses_el_nav h1 {
    margin-bottom: 30px;
}

.courses_el_nav nav {
    width: 100%;
    border-top: #DFE0EB solid 2px;
    padding-top: 50px;
}

.courses_el_nav li {
    font-family: "TTNorms-Medium", sans-serif;
    display: flex;
    margin-bottom: 15px;
}
.courses_el_nav li img {
    width: 20px;
    margin-right: 20px;
}