<!--v-if="router=='edit_profile' || router=='all_courses' || router=='pers_acc' "-->


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>МИНБЕЛӘМ</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js" defer></script>
    <script src="js/main.js" defer></script>
    <script src="js/reg.js" defer></script>
    <link rel="shortcut icon" href="img/icon.png">
</head>
<body>
<div id="vue-wrapper">
    <div class="block" v-if="router==='main'">
        <div class="wrapper">
            <div class="intro">
                <div class="intro_name">
                    <h1>мин<span style="color: green;">беләм</span></h1>
                </div>
                <div class="intro_osn">
                    <div class="intro_desc">
                        <h1>Татарский язык без ограничений</h1>
                        <p>Забудьте про дополнительную плату за второй, третий и четвёртый предмет единая подписка на всё!</p>
                        <div class="intro_pay">
                            <button class="intro_button_free" v-on:click="reg">Начать обучение</button>
                            <button class="intro_button_pay">Оплатить обучение</button>
                        </div>
                    </div>
                    <div class="intro_img">
                        <img src="img/index_intro.png" alt="">
                    </div>
                </div>

                <div class="why_us_block">
                    <div class="container">
                        <div class="why_us">
                            <h1>Почему именно мы?</h1>
                            <p>Узнай про наши преимущества!</p>
                            <div class="why_us_el">
                                <div class="why_us_el1">
                                    <div class="why_us_img">
                                        <img src="img/why_us_geo.png" alt="">
                                    </div>
                                    <h4>Город Казань</h4>
                                </div>
                                <div class="why_us_el2">
                                    <div class="why_us_img">
                                        <img src="img/why_us_clock.png" alt="">
                                    </div>
                                    <h4>Нет ограничений</h4>

                                </div>
                                <div class="why_us_el3">
                                    <div class="why_us_img">
                                        <img src="img/why_us_dollar.png" alt="">
                                    </div>
                                    <h4>Максимально доступно</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="intro_osn">
                    <div class="intro_img">
                        <img src="img/index_inf1.png" alt="">
                    </div>
                    <div class="intro_desc">
                        <h1>Все занятия проходят онлайн</h1>
                        <p>Мы проводим 12 вебинаров в месяц, если вы готовитесь к ЕГЭ, и 8 вебинаров, если вы готовитесь к ЕГЭ</p>
                        <div class="intro_pay">
                            <button class="intro_button_free">Начать бесплатно</button>
                        </div>
                    </div>
                </div>

                <div class="intro_osn" style="margin-top: 120px;">
                    <div class="intro_desc">
                        <h1>Уникальная кросс-платформа</h1>
                        <p>Здесь есть все для вашего удобства: записи занятий, домашние занятия, разборы, дополнительные варианты.</p>
                        <div class="intro_pay">
                            <button class="intro_button_free">Начать бесплатно</button>
                        </div>
                    </div>
                    <div class="intro_img intro_inf2">
                        <img src="img/index_inf2.png" alt="">
                    </div>

                </div>

                <div class="index_reviews_block">
                    <div class="container">
                        <div class="index_reviews">
                            <div class="index_review_desc">
                                <h1>Просто посмотри на эмоции наших учеников</h1>
                            </div>
                            <div class="index_reviews_osn">
                                <img src="img/index_reviews.png" alt="">
                                <div class="index_reviews_el">
                                    <h3>"Рекоммендую!"</h3>
                                    <p>Начал заниматься в мастер группе с Артуром с декабря. За это время очень
                                        сильно подтянул свои знания по математике, за экзамен получил 94 балла.
                                        Занятия проходят очень легко и интересно!</p>
                                    <h5>Кирилл Матанов</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="index_buy_block">
                    <div class="container">
                        <div class="index_buy">
                            <div class="index_buy_form">
                                <h1>Получи бесплатный базовый курс</h1>
                                <p>Кликни и получи доступ к первым бесплатным знаниям</p>
                                <button class="intro_button_free">Начать обучение</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="block"  v-if="router==='reg'">
        <div class="reg_win">
            <form id="reg_form" class="reg_form" action="" v-on:submit.prevent="do_reg">
                <img src="img/logo.png" alt="">
                <div class="reg_form_inf">
                    <p>Добро пожаловать!</p>
                    <p style="color: #7C869D; font-size: 13px; ">Зарегистрируйтесь, чтобы продолжить</p>
                </div>
                <div class="reg_form_osn">
                    <input type="text" v-model="reg_login" name="email" placeholder="E-mail">
                    <input type="password" v-model="reg_password" name="password" placeholder="Пароль">
                    <button id="do_reg" class="send_reg">Зарегистрироваться</button>
                    <p style="color: #728196;">Уже зарегистрированы? <button v-on:click="auth" style=" background: none; border: none; color: green; font-size: 15px;">Войти</button></p>
                </div>
            </form>
        </div>
    </div>

    <div class="block" v-if="router==='auth'">
        <div class="reg_win">
            <form class="reg_form" v-on:submit.prevent="do_log" action="">
                <img src="img/logo.png" alt="">
                <div class="reg_form_inf">
                    <p>С возвращением!</p>
                    <p style="color: #7C869D; font-size: 13px; ">Введите данные, чтобы войти</p>
                </div>
                <div class="reg_form_osn">
                    <input type="text" v-model="log_login" name="email" placeholder="E-mail">
                    <input type="password" v-model="log_password" name="password" placeholder="Пароль">
                    <button id="do_log"  class="send_reg">Продолжить</button>
                </div>
            </form>
        </div>
    </div>

    <div class="block" v-if="router==='edit_profile' || router==='all_courses' || router==='pers_acc' || router==='courses_el'">
        <div class="pers_acc_courses_page">
            <div class="pers_acc_inf">
                <img class="pers_acc_logo" src="img/logo.png" alt="">
                <nav class="pers_acc_nav">
                    <button v-on:click="go_to_page1" style="background: none; border: none;"><li class="pers_acc_li">
                        <img src="img/settings.png" alt="">
                        <h3>Мои данные</h3>
                    </li>
                    </button>
                    <button v-on:click="go_to_page2" style="background: none; border: none;"><li class="pers_acc_li">
                        <img src="img/my_courses.png" alt="">
                        <h3>Мои курсы</h3>
                    </li>
                    </button>
                    <button v-on:click="go_to_page3" style="background: none; border: none;"><li class="pers_acc_li">
                        <img src="img/item_change.png" alt="">
                        <h3>Обмен баллов</h3>
                    </li></button>
                    <button v-on:click="go_to_page4" style="background: none; border: none;"><li class="pers_acc_li">
                        <img src="img/my_courses.png" alt="">
                        <h3>Купить курсы</h3>
                    </li></button>
                </nav>
            </div>
            <div class="pers_acc_courses">
                <div class="pers_acc_name">
                    <h1>Мои курсы</h1>
                    <div class="pers_acc_data">
                        <div class="email">maratmurzaev11@mail.ru</div>
                        <img src="img/profile_icon.png" alt="">
                    </div>
                </div>

                <div v-if="router=='pers_acc'" class="pers_acc_courses_osn" >

                    <div v-for="course in courses" class="pers_acc_courses_osn_el">
                        <h3>{{course.name}}</h3>
                        <h2>{{(course.sections.filter(el=>el.passed).length / course.sections.length) *100 +'%' }}</h2>
                        <button v-on:click="open_course(course.id)">Приступить</button>
                    </div>
                </div>

                <div class="profile_edit" v-if="router==='edit_profile'">
                    <form class="profile_date">
                        <div class="profile_input">
                            <input id="edit_user_photo" type="file">
                            <label for="edit_user_photo"><img src="img/profile_icon.png" alt=""></label>
                        </div>
                        <div class="profile_input">
                            <label for="edit_user_name">Имя</label>
                            <input id="edit_user_name" value="" placeholder="Иван" type="text">
                        </div>
                        <div class="profile_input">
                            <label for="edit_user_surname">Фамилия</label>
                            <input id="edit_user_surname" value="" placeholder="Иванов" type="text">
                        </div>
                        <div class="profile_input">
                            <label for="edit_user_email">E-mail</label>
                            <input id="edit_user_email" type="email" value="" readonly>
                        </div>
                        <button>Сохранить</button>
                    </form>

                    <div class="user_courses">
                        <div v-for="course in courses" class="pers_acc_courses_osn_el">
                            <div v-for="section in course.sections">
                                <h3>{{course.name}}</h3>
                                <h2>{{(course.sections.filter(el=>el.passed).length / course.sections.length) *100 +'%' }}</h2>
                                <button v-on:click="open_course(course.id)">Приступить</button>
                            </div>
                        </div>
                    </div>

                    <div class="user_balance">
                        <div class="user_balance_inf">
                            <h3 style="white-space: nowrap">Мой баланс</h3>
                            <h2>15000&#10022;</h2>
                        </div>
                        <div class="user_balance_change">
                            <button>Обмен</button>
                        </div>
                    </div>
                </div>


                <div class="courses_el" v-if="router==='courses_el'">
                    <div class="courses_el_osn_task" v-if="opened_section">
                        <video ></video>
                        <h1>{{opened_section.name}}</h1>
                        <p>{{opened_section.description}}</p>
                        <button class="next_question">Перейти к вопросам</button>
                    </div>
                    <div class="courses_el_nav">
                        <h2>Курс номер 1</h2>
                        <h1>0%</h1>
                        <nav>
                            <li v-for="section in course.sections"><img src="img/checkpoint.png" alt="">{{section.name}}</li>
                        </nav>
                    </div>
                </div>


                <div class="all_courses_inf" v-if="router==='all_courses'">
                    <div class="all_courses">
                        <h3>Акция, акция, акция</h3>
                        <p style="color: #9FA2B4; border: none; width: 85%; font-size: 15px">Только сегодня при покупке одного курса второй вы получаете в подарок</p>
                        <p>Курс номер 1</p>
                        <p>Курс номер 2</p>
                        <p>Курс номер 3</p>
                        <p>Курс номер 4</p>
                        <p>Курс номер 5</p>
                    </div>
                    <div class="course_cost">
                        <h3>Итоговая стоимость</h3>
                        <h2>6000&#10022;</h2>
                        <button>Оплатить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="block" v-if="router==='tasks'">
        <div class="pers_acc_courses_page">
            <div class="pers_acc_inf">
                <img class="pers_acc_logo" src="img/logo.png" alt="">
                <nav class="pers_acc_nav">
                    <li class="pers_acc_li">
                        <img src="img/settings.png" alt="">
                        <h3>Мои данные</h3>
                    </li>
                    <li class="pers_acc_li">
                        <img src="img/my_courses.png" alt="">
                        <h3>Мои курсы</h3>
                    </li>
                    <li class="pers_acc_li">
                        <img src="img/item_change.png" alt="">
                        <h3>Обмен баллов</h3>
                    </li>
                </nav>

            </div>
            <div class="pers_acc_courses">
                <div class="pers_acc_name">
                    <h1>Мои данные</h1>
                    <div class="pers_acc_data">
                        <div class="email">maratmurzaev11@mail.ru</div>
                        <img src="img/profile_icon.png" alt="">
                    </div>
                </div>
                <div class="courses_el">
                    <div class="courses_task">
                        <h2>Гласные в татарском языке бывают мягкие и твёрдые. В каком из слов буква «я» произносится в мягком варианте [йә]?</h2>
                        <form class="test_options">
                            <div class="option">
                                <input class="custom-checkbox" id="var1" type="checkbox">
                                <label  for="var1">яңгыр (дождь)</label>
                            </div>
                            <div class="option">
                                <input id="var2" type="checkbox">
                                <label for="var2">ялкын (искра)</label>
                            </div>
                            <div class="option">
                                <input id="var3" type="checkbox">
                                <label for="var3">ярдәм (помощь)</label>
                            </div>
                            <div class="option"><input id="var4" type="checkbox">
                                <label for="var4">кыяр (огурец)</label>
                            </div>
                            <button>Ответить</button>
                        </form>
                    </div>
                    <div class="courses_el_nav">
                        <h2>Курс номер 1</h2>
                        <h1>0%</h1>
                        <nav>
                            <li>
                                <img src="img/checkpoint.png" alt="">
                                Занятие 1
                            </li>
                            <li>
                                <img src="img/checkpoint.png" alt="">
                                Занятие 2
                            </li>
                            <li>
                                <img src="img/checkpoint.png" alt="">
                                Занятие 3
                            </li>
                            <li>
                                <img src="img/checkpoint.png" alt="">
                                Занятие 4
                            </li>
                            <li>
                                <img src="img/checkpoint.png" alt="">
                                Занятие 5
                            </li>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <div class="block" v-if="router=='add_course'">
            <form class="add_course" v-on:submit.prevent="do_add_course" action="">
                <input type="text" name="course_name" placeholder="Название курса">
                <input type="password" name="course_desc" placeholder="Описание курса">
                <input type="text" name="course_cost" placeholder="Цена курса">
                <div class="add_section" ref="add_section_wrap">
                    <button name="do_add_section" v-on:click="add_section">Добавить секцию</button>

<!--                    <button name="do_add_task" v-on:click="add_task">Добавить задание</button>-->
                    <!--                    <input type="text" name="task_name" placeholder="Название секции">-->
<!--                    <input type="password" name="task_desc" placeholder="Описание секции">-->
<!--                    <input type="file" placeholder="Добавить видео">-->
<!--                    <div class="add_task" v-on:submit.prevent="do_add_task" action="">-->
<!--                        <input type="text" name="task_name" placeholder="Название задания">-->
<!--                        <input type="checkbox" placeholder="Добавить ответ">-->
<!--                        <form class="add_section" v-on:submit.prevent="do_listening" action="">-->
<!--                            <input type="file" placeholder="Добавить аудио">-->
<!--                            <button name="do_listening">Добавить аудио</button>-->

<!--                        </form>-->
<!--                    </div>-->

<!--                    <button name="do_add_task">Добавить ответ</button>-->
                </div>


            </form>
            <button name="do_add_course">Добавить курс</button>
        </div>
</div>
</body>
</html>